University.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="university">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="department" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dept_name" type="xs:string"/>
              <xs:element name="dept_head" type="xs:string"/>
              <xs:element name="course" minOccurs="2" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="course_name" type="xs:string"/>
                    <xs:element name="instructor" type="xs:string"/>
                    <xs:element name="credits" type="xs:positiveInteger"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
